## Data Science Tools and Ecosystem

In this note book data science tools and ecosystem are summarised

## Some of the key take aways from the course
- What is data science
- Data science tools
- Data science languages
- Development environments for data science

# Some of the Popular Languages Data Scientists use are
1. Python
2. R
3. Java
4. Julia

# Some of the commonly used data science libraries are
1. Numpy
2. Pandas
3. Matplotlib
4. Scikit-learn

# Data Science Tools

| Tools | Environments|
| ----- | ----------- |
| R | R Studio |
| Python | Jupiter Notebook |

### Below are a few arthmetic expressions used in python

In [3]:
1+2

3

In [4]:
5-5

0

In [5]:
4*6

24

In [6]:
7/5

1.4

### Create a code to multiply and add numbers

This is a simple arthmetic expression to multiply then add intergers

In [10]:
3*4+5

17

### Create a code that converts minutes into hours

This will convert 200 Mintes to hours by dividing by 60

In [11]:
200/60

3.3333333333333335

## Author
### Doreen Nkirote Kaunyangi